*.pyc
*.so
build
dist
*.egg-info
*.iml

# IDE files
\.vscode/

# testing artifacts
\.coverage
\.pytest_cache/

# pipenv files
Pipfile
Pipfile.lock

# Pyenv
.python-version

# Jupyter
.ipynb_checkpoints

# docs artifacts
docs/_build/

# asv builds
\.asv/
