[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = ">=1.0"
pandas = ">=0.18"
matplotlib = ">=2.0"

[dev-packages]
lifelines = {editable = true,path = "."}
coverage = ">=4.4"
pytest = "*"
pytest-cov = "*"
coveralls = "*"
seaborn = "*"
flake8 = "*"
autopep8 = "*"

[requires]
python_version = "3.6"
