[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = ">=1.0"
pandas = {version = ">=0.18", markers = "python_version >=3.6"}
matplotlib = {version = ">=2.0", markers = "python_version >=3.5"}

[dev-packages]
lifelines = {editable = true,path = "."}
coverage = ">=4.4"
pytest = "*"
pytest-cov = "*"
coveralls = "*"
seaborn = "*"
flake8 = "*"
autopep8 = "*"
