-r base-requirements.txt
# installs lifelines as editable dependency in develop mode
-e .
pytest>=3.6
pytest-icdiff;python_version > '3.5'
coverage>=4.4
pytest-cov
pypandoc
prospector[with_pyroma]
pre-commit
black;python_version > '3.5'
dill
statsmodels
flaky
scikit-learn>=0.22.0
easydev
