-r base-requirements.txt
# installs lifelines as editiable dependancy in develop mode
-e .
pytest
pytest-icdiff;python_version > '3.5'
coverage>=4.4
pytest-cov<=v2.6.0
pypandoc
prospector[with_pyroma]
pre-commit
black;python_version > '3.5'
