# installs base requirements
-r base-requirements.txt

# installs lifelines as editable dependency in develop mode
-e .

pytest>=4.6
pytest-icdiff
coverage>=4.4
pytest-cov
pypandoc
prospector[with_pyroma]
pre-commit
black
dill
statsmodels
flaky
scikit-learn>=0.22.0
Jinja2

# ex: `py.test` in the docs/ folder. See conftest.py in docs/ first
sybil

# ex: mypy --config-file mypy.ini lifelines
mypy

# ex: check-wheel-contents dist/lifelines-0.24.3-py3-none-any.whl
check-wheel-contents
