name: CI

on:
  pull_request:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: ["ubuntu-latest"]
        python-version: ["3.11", "3.12", "3.13", "3.14"]
        numpy-version: ["2.2.6", "2.3.5", "2.4.2"]
        exclude:
          - python-version: "3.14"
            numpy-version: "2.2.6"

    steps:
      - name: Checkout source
        uses: actions/checkout@v6

      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install
        run: |
          pip install "numpy==${{ matrix.numpy-version }}"
          pip install -e .
          pip install -r reqs/dev-requirements.txt

      - name: Run tests
        run: pytest lifelines/tests/ -vv
